/Practica 2/TextIndexer/nbproject/private/
/Practica 2/TextIndexer/build/
/Practica 2/TextIndexer/dist/
/Practica 2/TextIndexer/stems/*
/Practica 3/luke-with-deps.jar
/Practica 3/MathIndexer/nbproject/private/
/Practica 3/MathIndexer/build/
/Practica 3/MathIndexer/dist/
/Practica 3/MathSearcher/build/